{% extends "base.html" %}
{% block title %}BMS{% endblock %}

{% block navbar %}
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading text-center">个人信息</div>
      <div class="list-group list-group-flush">
        {% for pi in pinfo %}
        <a href="#" class="list-group-item list-group-item-action bg-light text-center">{{ pi }}</a>
        {% endfor %}
        <a href="#" class="list-group-item list-group-item-action bg-light text-center"> </a>
        <button class="btn btn-primary" data-toggle="modal" data-target="#add">添加</button>
          <div id="add" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-title">
                        <h1 class="text-center">添加书籍</h1>
                    </div>
                    <div class="modal-body">
                        <form name="addbookform" class="form-group" action="/addbook" method="post">
                            <div class="col-sm-9 col-md-7 col-lg-9 mx-auto">
                                <div class="form-group">
                                    <label for="">ISBN</label>
                                    <input name="ISBN" class="form-control" type="text" placeholder="使用'-'号分隔" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="">书名</label>
                                    <input name="name" class="form-control" type="text" placeholder="1-50字符" required>
                                </div>
                                <div class="form-group">
                                    <label for="">作者</label>
                                    <input name="author" class="form-control" type="text" placeholder="1-50字符，存在多位作者使用顿号连接" required>
                                </div>
                                <div class="form-group">
                                    <label for="">分类</label>
                                    <input name="category" class="form-control" type="text" placeholder="1-50字符" required>
                                </div>
                                <div class="form-group">
                                    <label for="">馆藏地</label>
                                    <input name="address" class="form-control" type="text" placeholder="1-50字符" required>
                                </div>
                                <div class="form-group">
                                    <label for="">余量</label>
                                    <input name="count" class="form-control" type="text" placeholder="非负整数" required>
                                    <label for=""></label>
                                </div>
                                <div class="text-center">
                                    <script language="javascript">
                                        function addbookcheck(){
                                            toastr.options.positionClass = 'toast-center-center';
                                            var regular = /^(\d[-]*){9}[\dxX]$/;
                                            if(!regular.test(addbookform.ISBN.value)){
                                                toastr.error("ISBN输入不合法");
                                                return false;
                                            }
                                            if(addbookform.name.value === ''){
                                                toastr.error("书名输入不合法");
                                                return false;
                                            }
                                            if(addbookform.author.value === ''){
                                                toastr.error("作者输入不合法");
                                                return false;
                                            }
                                            if(addbookform.category.value === ''){
                                                toastr.error("分类输入不合法");
                                                return false;
                                            }
                                            if(addbookform.address.value === ''){
                                                toastr.error("馆藏地输入不合法");
                                                return false;
                                            }
                                            var recount = /^[0-9]*[1-9][0-9]*$/;
                                            if(!recount.test(addbookform.count.value)){
                                                toastr.error("余量输入不合法");
                                                return false;
                                            }
                                            return true;
                                        }
                                    </script>
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" onclick="return addbookcheck();">确认修改</button>
                                    <label for=""></label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">toggle</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <button class="btn btn-primary">add</button> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Log Out</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" data-toggle="modal" data-target="#aboutus">About Us</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#acknowledge">Acknowledge</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <!-- 关于我们窗口 -->
      <div id="aboutus" class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-body">
                      <button class="close" data-dismiss="modal">
                          <span>&times;</span>
                      </button>
                  </div>
                  <div class="modal-title">
                      <h1 class="text-center">About Us</h1>
                  </div>
                  <div class="modal-body">
                    <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
                          <div class="form-group">
                              <h2 class="text-center">Main program and subroutine</h2>
                          </div>
                          <div class="form-group">
                            <h5 class="text-center">吴佩欣 916106840111</h5>
                            <h5 class="text-center">张会阳 916106840742</h5>
                            <h5 class="text-center">赵亮   9161010F0233</h5>
                            <h5 class="text-center">陈冉   916106840118</h5>
                            <h5 class="text-center">陈晨   916106840115</h5>
                            <h5 class="text-center">韩欣良 916106840123</h5>
                          </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- 鸣谢窗口 -->
      <div id="acknowledge" class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-body">
                      <button class="close" data-dismiss="modal">
                          <span>&times;</span>
                      </button>
                  </div>
                  <div class="modal-title">
                      <h1 class="text-center">Acknowledge</h1>
                      <label for=""></label>
                  </div>
                  <div class="modal-body">
                    <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
                          <div class="form-group">
                            <h5 class="text-center">Bootstrap</h5>
                            <h5 class="text-center">Toastr</h5>
                            <h5 class="text-center">Flask</h5>
                          </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- 删除窗口 -->
      <div id="delete" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-title">
                        <h1 class="text-center">确认删除书籍？</h1>
                    </div>
                    <div class="modal-body">
                        <form name="addbookform" class="form-group" action="/delbook" method="post">
                            <div class="col-sm-9 col-md-7 col-lg-9 mx-auto">
                                <div class="form-group">
                                    <label for=""></label>
                                    <label for="ISBN" class="form-inline">ISBN:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="ISBN" id="ISBN" class="form-control" type="text" readonly></label>
                                </div>
                                <div class="text-center">
                                    <label for=""></label>
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">确认</button>
                                    <label for=""></label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

      <!-- 编辑窗口 -->
      <div id="modify" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-title">
                        <h1 class="text-center">编辑书籍</h1>
                    </div>
                    <div class="modal-body">
                        <form name="addbookform" class="form-group" action="/modifybook" method="post">
                            <div class="col-sm-9 col-md-7 col-lg-9 mx-auto">
                                <div class="form-group">
                                    <label for="">ISBN</label>
                                    <input name="ISBN" id="isbn" class="form-control" type="text" placeholder="使用'-'号分隔">
                                </div>
                                <div class="form-group">
                                    <label for="">书名</label>
                                    <input name="name" id="name" class="form-control" type="text" placeholder="1-50字符">
                                </div>
                                <div class="form-group">
                                    <label for="">作者</label>
                                    <input name="author" id="author" class="form-control" type="text" placeholder="1-50字符，存在多位作者使用顿号连接">
                                </div>
                                <div class="form-group">
                                    <label for="">分类</label>
                                    <input name="category" id="category" class="form-control" type="text" placeholder="1-50字符">
                                </div>
                                <div class="form-group">
                                    <label for="">馆藏地</label>
                                    <input name="address" id="address" class="form-control" type="text" placeholder="1-50字符">
                                </div>
                                <div class="form-group">
                                    <label for="">余量</label>
                                    <input name="count" id="count" class="form-control" type="text" placeholder="非负整数">
                                    <label for=""></label>
                                </div>
                                <div class="text-center">
                                    <script language="javascript">
                                        function addbookcheck(){
                                            toastr.options.positionClass = 'toast-center-center';
                                            var regular = /^(\d[-]*){9}[\dxX]$/;
                                            if(!regular.test(addbookform.ISBN.value)){
                                                toastr.error("ISBN输入不合法");
                                                return false;
                                            }
                                            if(addbookform.name.value === ''){
                                                toastr.error("书名输入不合法");
                                                return false;
                                            }
                                            if(addbookform.author.value === ''){
                                                toastr.error("作者输入不合法");
                                                return false;
                                            }
                                            if(addbookform.category.value === ''){
                                                toastr.error("分类输入不合法");
                                                return false;
                                            }
                                            if(addbookform.address.value === ''){
                                                toastr.error("馆藏地输入不合法");
                                                return false;
                                            }
                                            var recount = /^[0-9]*[1-9][0-9]*$/;
                                            if(!recount.test(addbookform.count.value)){
                                                toastr.error("余量输入不合法");
                                                return false;
                                            }
                                            return true;
                                        }
                                    </script>
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" onclick="return addbookcheck();">确认修改</button>
                                    <label for=""></label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 80%;margin: 0 auto">
            <table id="table" ></table>
        </div>
{#        <div id="toolbar" class="btn-group">#}
{#            <button id="btn_add" type="button" class="btn btn-info btn-sm rightSize">#}
{#                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增#}
{#            </button>#}
{#        </div>#}

    </div>
    <!-- /#page-content-wrapper -->

  </div>
      <!-- Menu Toggle Script -->

{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
<script type="text/javascript">
    $(function () {
        $('#table').bootstrapTable({
            url: '/admininfo',  // 请求数据源的路由
            dataType: "json",
            method: 'GET',                      //请求方式（*）
            pagination: true, //前端处理分页
            singleSelect: false,//是否只能单选
            search: true, //显示搜索框，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            sortable: true,
            sortOrder: 'asc',

            toolbar: '#toolbar', //工具按钮用哪个容器
            striped: true, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pageNumber: 1, //初始化加载第10页，默认第一页
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
            strictSearch: true,//设置为 true启用 全匹配搜索，false为模糊搜索
            showColumns: true, //显示内容列下拉框
            showRefresh: true, //显示刷新按钮
            minimumCountColumns: 2, //当列数小于此值时，将隐藏内容列下拉框
            clickToSelect: true, //设置true， 将在点击某行时，自动勾选rediobox 和 checkbox
            {#        height: 500, //表格高度，如果没有设置height属性，表格自动根据记录条数决定表格高度#}
            uniqueId: "ISBN", //每一行的唯一标识，一般为主键列
            showToggle: true, //是否显示详细视图和列表视图的切换按钮
            cardView: false, //是否显示详细视图
            {#        detailView: true, //是否显示父子表，设置为 true 可以显示详细页面模式,在每行最前边显示+号#}
            sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
            columns: [{  //定义表头,这个表头必须定义,下边field后边跟的字段名字必须与后端传递的字段名字相同.如:id、name、price
                field: 'ISBN',
                title: 'ISBN',
                align: 'center',
            }, {
                field: 'name',
                title: '书名',
                align: 'center'
            }, {
                field: 'author',
                title: '作者',
                align: 'center',
            }, {
                field: 'category',
                title: '分类',
                align: 'center'
            }, {
                field: 'address',
                title: '馆藏地',
                align: 'center'
            }, {
                field: 'count',
                title: '余量',
                align: 'center'
            }, {
                title: '操作',
                field: 'ISBN',
                align: 'center',
                formatter: function (value, row, index) {
                    var id = value;
                    var result = "";
                    var data = row.ISBN + " " + row.name + " " + row.author + " " + row.category + " " + row.address + " " + row.count.toString();
                    result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"EditViewById('" + data + "')\" title='编辑'><span class='glyphicon glyphicon-pencil'>编辑</span></a>";
                    result += "<a href='javascript:;' class='btn btn-xs red' onclick=\"DeleteByIds('" + value + "')\" title='删除'><span class='glyphicon glyphicon-remove'>删除</span></a>";

                    return result;
                }
            }
            ],
        });
    });

  // 删除用户
function DeleteByIds(row) {
    $("#delete").modal("show");
    $('#ISBN').val(row);
}

// 编辑用户
function EditViewById(data) {
    toastr.info(data);
    var dat = data.trim().split(" ");
    $("#modify").modal("show");
    $('#isbn').val(dat[0]);
    $('#name').val(dat[1]);
    $('#author').val(dat[2]);
    $('#category').val(dat[3]);
    $('#address').val(dat[4]);
    $('#count').val(dat[5]);
}

</script>
{% endblock %}